/* DEFAULT STUFF */
:root {
  --primary-color: #c6894f;
  --black: #000000;
  --white: #ffffff;
  --gray: #a5a5a5;
}

* {
  box-sizing: border-box;
  margin: 0;
}

body {
  font-family: "Montserrat", sans-serif;
}

.text-dark {
  color: var(--black);
}

.text-white {
  color: var(--white);
}

.text-gray {
  color: var(--gray);
}

.container {
  margin-right: auto;
  margin-left: auto;
  max-width: 1300px;
}

.primary-btn {
  background: var(--primary-color);
  text-transform: uppercase;
  color: var(--white);
  padding: 12px 36px;
  border-radius: 20px;
  font-size: 12px;
  font-weight: 600;
  border: 2px solid transparent;
  text-decoration: none;
  transition: all 0.2s ease-in-out;
  display: inline-block;
}

.primary-btn:hover {
  background: transparent;
  border: 2px solid var(--primary-color);
  color: var(--primary-color);
}
/* END DEFAULT STUFF */

header {
  width: 100%;
  background-color: var(--black);
}

header img {
  width: 100%;
  max-width: 60px;
}

.menu ul {
  padding: 0;
  display: flex;
  flex-direction: row;
  gap: 34px;
}

.menu a {
  color: var(--white);
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 600;
  padding: 48px 0;
  display: block;
}

.menu a::before {
  content: "";
  transition: border-bottom 0.2s ease-in-out;
}

.menu li {
  position: relative;
}

.menu a:hover::before {
  content: "";
  position: absolute;
  bottom: 0;
  width: 100%;
  border-bottom: 4px solid var(--primary-color);
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.banner {
  background-image: linear-gradient(rgba(0, 0, 0, 0.6)),
    url("/assets/images/bg.jpg");
  height: calc(100vh - 140px);
  background-size: cover;
  background-repeat: no-repeat;
  background-color: var(--black);
}

.banner .container,
.banner .banner-container {
  height: 100%;
}

.banner h1 {
  font-size: 70px;
  text-transform: uppercase;
  line-height: 70px;
  color: var(--white);
  font-weight: bold;
  margin-bottom: 14px;
}

.banner h1 span {
  color: var(--primary-color);
}

.banner p {
  color: var(--white);
  font-weight: 600;
  text-transform: uppercase;
  margin-bottom: 56px;
  font-size: 20px;
}

.banner p a {
  color: var(--white);
  text-decoration: none;
}

.banner-container {
  padding-bottom: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}

.banner-container div:first-of-type {
  display: flex;
  flex-direction: column;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.slider-navigation {
  display: flex;
  gap: 12px;
}

.navigation-bullet {
  border: 2px solid var(--primary-color);
  width: 15px;
  height: 15px;
  border-radius: 50%;
  cursor: pointer;
}

.navigation-bullet.active {
  background-color: var(--primary-color);
}

.section-title {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.section-title h2 {
  font-size: 34px;
  text-transform: uppercase;
  font-weight: 800;
  margin-bottom: 6px;
}

.section-title p {
  font-size: 16px;
  font-weight: 500;
  text-transform: uppercase;
}

.about-us {
  padding: 4rem 0;
}

.about-us-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 60px;
  margin-top: 40px;
  flex-wrap: wrap;
}

.about-us-video {
  position: relative;
  background-color: var(--black);
  max-width: 460px;
}

.about-us-video button {
  border: none;
  background: transparent;
  cursor: pointer;
  position: absolute;
  z-index: 2;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.about-us-video img:first-child {
  width: 100%;
  max-width: 50px;
}

.about-us-video img:nth-child(2) {
  width: 100%;
  height: 100%;
  opacity: 0.6;
  box-shadow: 0 0 40px 10px rgba(0, 0, 0, 0.4);
}

.about-us-text {
  flex: 1;
}

.about-us-text p {
  margin-bottom: 28px;
  line-height: 26px;
  font-weight: 400;
  font-size: 15px;
}

.services {
  background-color: var(--black);
  padding: 4rem 0;
}

.services-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 60px;
}

.service img {
  width: 100%;
  max-width: 70px;
}

.service h3 {
  color: var(--white);
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 8px;
  margin-top: 40px;
  font-size: 20px;
}

.service p {
  color: var(--gray);
  font-size: 14px;
  line-height: 26px;
  text-align: center;
}

.service {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px 36px;
  border-left: 1px solid var(--gray);
}

.service:last-child {
  border-right: 1px solid var(--gray);
}

.projects {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 30px;
  margin-top: 40px;
}

.project-card img {
  width: 100%;
  height: 100%;
  max-width: 300px;
}

.projects-container {
  padding: 4rem 0;
}

.project-card {
  position: relative;
}

.project-card-content {
  position: absolute;
  z-index: 2;
  top: 50%;
  left: 50%;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  transform: translate(-50%, -50%);
  text-align: center;
  opacity: 0;
  padding: 20px;
  transition: opacity 0.2s ease-in-out;
}

.project-card-content h3 {
  color: var(--white);
  margin-bottom: 10px;
}

.project-card-content p {
  color: var(--white);
  font-size: 14px;
}

.project-card:hover {
  & .project-card-content {
    opacity: 1;
    background-color: rgba(0, 0, 0, 0.4);
  }
}

.projects div:last-child {
  text-align: center;
  width: 100%;
}

.project-filters {
  display: inline-block;
  margin-top: 46px;
  border: 1px solid var(--gray);
  background-color: rgba(230, 230, 230, 0.486);
  border-radius: 30px;
  padding: 0 20px;
}

.project-filters ul {
  list-style: none;
  padding: 0;
  display: flex;
}

.project-filters li:not(:last-child) {
  border-right: 1px solid var(--gray);
}

.project-filters-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.project-filters a {
  position: relative;
  padding: 20px 30px;
  display: block;
  text-decoration: none;
  color: var(--black);
  text-transform: uppercase;
  font-size: 14px;
}

.project-filters a:hover::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  border-bottom: 3px solid var(--primary-color);
}

footer {
  background-color: var(--black);
  padding: 34px;
}

.footer-container {
  display: flex;
}

.footer-social {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 12px;
}

.footer-social a {
  background-color: #414141;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.2s ease-in-out;
}

.footer-social a:hover {
  background-color: var(--primary-color);
}

.footer-social-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.footer-social-container p {
  color: var(--white);
  text-transform: uppercase;
  font-weight: 600;
}

.newsletter {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #414141;
  padding: 44px 70px;
}

.footer-text p {
  color: var(--gray);
  line-height: 24px;
  padding: 0 4rem 0 8rem;
  font-size: 14px;
}

.newsletter input {
  background-color: transparent;
  border: none;
  border-bottom: 2px solid var(--gray);
  padding: 12px;
  color: var(--gray);
  font-size: 15px;
}

.newsletter input:focus {
  outline: none;
}

.newsletter input::placeholder {
  color: var(--gray);
  text-transform: uppercase;
  font-weight: 600;
  text-align: center;
}

.newsletter button {
  margin-top: 30px;
  width: 100%;
}

@media (min-width: 450px) and (max-width: 992px) {
  .services-container {
    flex-wrap: wrap;
  }

  .service {
    width: 50%;
    border: none;
  }

  .service:last-child {
    border: none;
  }

  .about-us-video {
    max-width: 100%;
  }

  .about-us-text {
    flex: initial;
  }

  .projects {
    justify-content: center;
  }

  .container {
    max-width: 730px;
  }

  .footer-text p {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 8;
    overflow: hidden;
    padding: 0 4rem 0 3rem;
  }

  .newsletter {
    padding: 20px 40px;
  }
}
